/* ----- Body -----*/
body {
  margin: 0;
  padding: 0;
  background-color: rgb(166, 178, 222);
  background-image: url(../public/portada.webp);
  background-repeat: no-repeat;
  background-size: cover; /* cubre todo el fondo */
  background-attachment: fixed; /* fija aunque haya scroll */

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(14, 56, 207);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* ----- fin Body -----*/
/* ----- cajas header, main y footer -----*/
.header,
main,
footer {
  width: 80%;
  margin: auto;
  background-color: aliceblue;
}

/* ----- fin cajas header, main y footer -----*/
/* ----- header -----*/
.header ol {
  display: flex;
  justify-content: center;
}

.header ol li {
  margin: 10px 30px;
  list-style: none;
}

/* ----- fin header -----*/
/* ----- main -----*/
main h1 {
  font-size: 2.8rem;
  color: rgb(14, 56, 207);
  text-align: center;
  letter-spacing: 1px;
  margin-top: 40px;
  margin-bottom: 20px;
}

/* ----- fin main -----*/
/* ----- section - cada producto -----*/
.divProductos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* el item baja a la siguiente fila.*/
}

.card {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-top: 10px;
  border-bottom: 3px solid rgb(14, 56, 207);
  border-left: 3px solid rgb(14, 56, 207);
  border-top: 1px solid rgb(14, 56, 207);
  border-right: 1px solid rgb(14, 56, 207);
  border-radius: 10%;
}

.card:hover {
  width: 45%;
}
.divImg,
.infoProducto {
  margin: 10px;
}

.divImg {
  display: flex;
  justify-content: center;
}

.divImg img {
  width: 50%;
  height: auto;
  border: 1px solid rgb(14, 56, 207);
}

.infoProducto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.infoProducto p {
  padding: 5px;
}

.infoProducto span {
  font-weight: 700;
}

/* ----- fin section - cada producto -----*/
/* ----- header -----*/
/* ----- header -----*/
