/* ----- Body -----*/
body {
    margin: 0;
    padding: 0;
    background-color: rgb(166, 178, 222);
    background-image: url(../public/portada.webp);
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
/* ----- fin Body -----*/
/* ----- cajas header, main y footer -----*/
.header, main, footer {
    width: 80%;
    margin: auto;
    background-color: aliceblue;
}
/* ----- fin cajas header, main y footer -----*/
/* ----- header -----*/
.header ol {
    display: flex;
    justify-content: center;

}

.header ol li {
    margin: 10px 30px;
    list-style: none;
}
/* ----- fin header -----*/
/* ----- main -----*/
main h1 {
    font-size: 2.8rem;
    color: rgb(14, 56, 207);
    text-align: center;
    letter-spacing: 1px;
    margin-top: 40px;
    margin-bottom: 20px;
   
}


/* ----- fin main -----*/
/* ----- section - cada producto -----*/
.card {
    display: flex;
    flex-direction: column;
}

.divImg {
    margin: 10px;

}
.divImg img {
    width: 20%;
    height: auto;
    border: 1px solid rgb(14, 56, 207);
}
/* ----- fin section - cada producto -----*/
/* ----- header -----*/
/* ----- header -----*/